name: Dependabot auto-merge

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  auto-merge:
    uses: ybiquitous/.github/.github/workflows/dependabot-auto-merge-reusable.yml@530c2571685fc8fd3462fad7d19beb613e28609d # v2.3.0
    permissions:
      contents: write
