name: Dependabot auto-merge

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  auto-merge:
    uses: ybiquitous/.github/.github/workflows/dependabot-auto-merge-reusable.yml@90e41242480929ed641a647c9a6544d4c080f980 # v2.3.1
    permissions:
      contents: write
