name: Dependabot auto-merge

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  auto-merge:
    uses: ybiquitous/.github/.github/workflows/dependabot-auto-merge-reusable.yml@87de5ae43f03470d08d6d5d8fa1fb684947c173b # v2.2.1
    permissions:
      contents: write
