name: npm audit fix

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  npm-audit-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ybiquitous/npm-audit-fix-action@61a5702cd9a34b68f4aef54f631684f792e3dcdd # v7.3.0
        with:
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
