name: npm audit fix

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  npm-audit-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ybiquitous/npm-audit-fix-action@31a824d54c0b7ffee552df67ad3be12c5ab844ec # v7.3.2
        with:
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
