name: npm audit fix

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  npm-audit-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ybiquitous/npm-audit-fix-action@48a6cf4de33926b66f61c7225c3e947ec76cd69f # v7.3.3
        with:
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
