name: npm audit fix

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  npm-audit-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ybiquitous/npm-audit-fix-action@31a824d54c0b7ffee552df67ad3be12c5ab844ec # v7.3.2
        with:
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
