name: Release PR

on:
  workflow_dispatch:
    inputs:
      new-version:
        description: New version to release
        required: true
        type: choice
        options: [auto, patch, minor, major]

jobs:
  release:
    uses: ybiquitous/.github/.github/workflows/nodejs-release-pr-reusable.yml@90e41242480929ed641a647c9a6544d4c080f980 # v2.3.1
    with:
      new-version: ${{ github.event.inputs.new-version }}
    permissions:
      contents: write
      pull-requests: write
