name: Release PR

on:
  workflow_dispatch:
    inputs:
      new-version:
        description: New version to release
        required: true
        type: choice
        options: [auto, patch, minor, major]

jobs:
  release:
    uses: ybiquitous/.github/.github/workflows/nodejs-release-pr-reusable.yml@87de5ae43f03470d08d6d5d8fa1fb684947c173b # v2.2.1
    with:
      new-version: ${{ github.event.inputs.new-version }}
    permissions:
      contents: write
      pull-requests: write
