name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]
  # Run the workflow regularly, as auto-merged PRs by bots may not trigger it.
  schedule:
    - cron: "0 0 1,15 * *"
  # Allow manual triggering of the workflow.
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        node-version: ["20", "22", "24"]
    uses: ybiquitous/.github/.github/workflows/nodejs-test-reusable.yml@87de5ae43f03470d08d6d5d8fa1fb684947c173b # v2.2.1
    with:
      node-version: ${{ matrix.node-version }}
      node-version-coverage: "24"
    permissions:
      contents: read

  upload-coverage:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: coverage
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1

  lint:
    uses: ybiquitous/.github/.github/workflows/nodejs-lint-reusable.yml@87de5ae43f03470d08d6d5d8fa1fb684947c173b # v2.2.1
    permissions:
      contents: read
